* {
    margin: 0;
    padding: 0;
    text-align: center;
}
.navbar {
    height: 10vh;
    background-color: #d68910;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    border: transparent;
}
.active {
    color: aquamarine;
}
hr {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 3px solid #2e4053;
}
.navlinks {
    text-decoration: none;
}
.character-card {
    border: transparent !important;
    background: transparent !important;
}
.bbb1 {
    border-radius: 0px 0px 20px 20px;
}
